/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*------------------------------------*\
  #RESET BROWSER DEFAUTLS
\*------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #fcfcfc;
	font-family: 'Lato', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------*\
  #font imports
\*------------------------------------*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
</style>
html {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
/*------------------------------------*\
  #Animations
\*------------------------------------*/
@keyframes moveUp {
    from {top: 0;}
    to {top: -16px;}
}

/*------------------------------------*\
  #Navbar
\*------------------------------------*/

.navbar {
    bottom: 0;
    position: fixed;
    width: 100vw;
    height:10vh;
    background-color: #fcfcfc;
    border: 1px solid #ececec;
    text-align: center;
}
.navbar-navitem-mobile {
    display: inline-block;
    font-size: 3.0rem;
    margin: 0 16px 0 16px;
    width:175px;
}
.navbar-navitem-mobile a {
    text-decoration:none;
    color:#3B3B3B;
}
.navbar_left {
    display:inline-block;
}
.navbar_content {
    display:inline-block;
    margin-top: 40px;
}
.navbar-right {
    display:inline-block;
}
.menu-mobile {
    height: 100%;
    margin-top: 40px;
}
.bar {
    height: .275em;
    width: 1.125em;
    background-color: #3B3B3B;
    border-radius: 16px;
    margin: 16px;
}
.menubutton {
    font-size: 3.0rem;
    border: none;
    background-color: transparent;
    color: #3B3B3B;

}

.menubutton:hover {
    background-color: #AAAAAA;
    color: transparent;

}
.dropdown-div {
    position:absolute;
    display:inline-block;
    bottom: 15vh;
    width: 300px;
    height: 5vh;
    font-size: 3.0rem;
    right:0;
}
.dropdown-content {
    display: none;
    position:absolute;
    min-width:160px;
    background-color: #fcfcfc;
    color: #3c3c3c;
    border: 1px solid #f4f4f4;
    padding: 12px 12px;
    z-index:1;

}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*------------------------------------*\
  #Searchbar/topnav
\*------------------------------------*/

#searchbar {
        background-color: #fff;
    background-image: url("/search.png");
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 1.5em;
    border: 1px solid #3b3b3b;
    border-radius: 16px;
    font-size: 2.0EM;
    height: 2em;
    margin: 1.5em;
    margin-right: 16px;
    padding: 16px;
    padding-left: 64px;
    flex-grow: 2;
}
.search {
    flex-grow: 2;
}
.topnav {
    position: fixed;
    height: 11em;
    background-color: #fcfcfc;
    width: 100%;
    margin-top:-11em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #3B3B3B;
}

.filter-darkgrey {
    filter: invert(16%) sepia(86%) saturate(1%) hue-rotate(314deg) brightness(91%) contrast(83%);
}
#home-icon {
    background-color: transparent;
    border: transparent;
    padding: 32px;
}
#home-icon svg {
    height: 64px;
    width: 64px;
}
#contact-icon {
    background-color: transparent;
    border: transparent;
    padding: 32px;
}
#contact-icon svg {
    height: 64px;
    width: 64px;
}
.form-control {
    width: 78%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

.form-control:focus {
    width: 80%;

}
#searchbar:focus:hover {
    background-color: #ffffff;
}
/*------------------------------------*\
  #Tweet container
\*------------------------------------*/

.tweet-container {
    background-color: #fcfcfc;
    border: 1px solid #ececec;
    width: 100vw;
    min-height:10vh;
}

.tweet-container:hover {
    background-color: #ececec;
}
.inner-contents {
    display: flex;
}
.tweet-info {
    text-align: left;
    /*margin: 16px 8px 32px 24px;*/
    padding: 24px 16px 32px 24px;
    width: 100%;
}
.list_image {
    margin: 16px;
}
.author {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #3B3B3B;
    margin:0 0 0 16px;
}
.desc-text {
    font-size: 1.3rem;
    /*margin: 16px 8px 16px 8px;*/
    margin: 16px 16px 32px 16px;
    color: black;
    line-height: 1.4;
}
.responsive_media {
    margin: 8px;
}

.primary {
    padding: 15px 32px;
    font-size: 16px;
    background-color: #d30a10;
    color: #fcfcfc;
    border-radius: 8px;
    border: none;
}
.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
}
.btn-share {
    border: none;
    background-color: transparent;
    padding:24px;

}

.btn-share:hover {
    background-color: #d4d4d4;
}

.btn-share img:active {
    position: relative;
    animation-name: moveUp;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;

}
.devtweets {
    margin: 0;
    margin-top: 11em;
    width: 100%;
}
.img-cont {
    display: inline-block;
    width:auto;
    text-align:center;
    padding:20px;

}
.show {display:block;}

.tweet-info li {
    display: inline;
}

.tweet-info li img {
    width: 100%;
    height: 100%;
}
.tweet-info img {
    height: 24px;
    width: 24px;
    margin: 0px 0px 0px 16px;
}
.author-cont {
    display: flex;
    align-content: center;
}
.desktop-nav {
    display: none;
}
.date {
    margin: 4px 0 0 16px;
    color: #b4b4b4;
}
@media (min-width: 0px) and (max-width: 280px) {
    .desc-text { font-size: 1.0rem; }
    .tweet-info { padding: 24px 8px 16px 24px; }
    .desktop-nav {
        display: none;
    }
}
@media (min-width: 281px) and (max-width: 767px) {
    .devtweets {
        margin: 5em 0 0 0;
        background-color: yellow;

    }
    .desktop-nav {
        display: none;
    }
    .tweet-container { width: 100%; }
    .author { font-size: 1.5rem; }
    .desc-text { font-size: 1.2rem; }
    .btn-share img {
        height: 24px;
        width: 24px;
    }
    #home-icon svg {
        height: 24px;
        width: 24px;
    }
    #contact-icon svg {
        height: 24px;
        width: 24px;
    }
    #searchbar {
        margin: 0;
        margin-right: 16px;
        padding: 4px 0px 0px 48px;
        font-size: 1.2em;
    }
    .topnav {
        height: 5em;
        margin: -5em 0 0 0;
    }
}

@media (min-width: 768px) {
    @keyframes moveUp {
    from {top: 0;}
    to {top: -64px;}
}
    .back-to-top { right: 30%;}
    .devtweets {
        margin: 0 auto;
        width: 768px;
    }
    .btn-share img {
        height: 32px;
        width: 32px;
    }
    .tweet-container { width: 100%; }
    .topnav { display: none; }
    .desktop-nav {
        display: flex;
        align-items: center;
        border: 1px solid black;
        justify-content: center;
    }
    .search {
        flex-grow: 2;
    }
    .home-icon {
        padding: 0 1%;
    }
    .contact-icon {
        padding: 0 1%;
        font-size:24px;
    }
    #searchbar {
        background-color: #fff;
    background-image: url("/search.png");
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 1.1em;
    border: 1px solid #3b3b3b;
    border-radius: 16px;
    font-size: 1.2em;
    height: 1.0em;
    margin: 1.5em;
    margin-right: 16px;
    padding: 16px;
    padding-left: 64px;
}
}


/*------------------------------------*\
  #footer
\*------------------------------------*/

footer {
    width:100%;
    height: 11em;
    left:0;
    bottom:0;
    text-align: center;
    margin-bottom: 11em;
}

