
<div class="tweet-container"  id="lasttweet">
<div class="inner-contents">

    <div class="tweet-info">
        <a href="#" class="author">
            {{tweet.author}}
        </a>
        <p class="desc-text">
            {{tweet.message|urlize}}
        </p>
        {% if tweet.images|length > 0 %}
        <ul>

            {% for image_path in tweet.images %}

            <div class="img-cont">
            <li><img src="images/{{image_path | safe}}"  alt="img"></li>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <button  class="btn-share" name="{{tweet.link}}", id="{{tweet.id}}", onclick="clip_div(this.id)">
            <img src="/copy.png" alt="info">
    </button>
</div>
</div>
