
{% extends 'base.html' %}
{% from "devmacros.html" import devtweets with context %}
{% block content %}
<body>

<div class="devtweets">
{{ devtweets(tweets) }}

</div>
<footer id="footer">
    <p>Copyright at Copyright</p>
</footer>
</body>
<script>

    function isElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        efp = function(x,y) { return document.elementFromPoint(x,y) };
        if (
            rect.right < 0 ||
            rect.bottom < 0 ||
            rect.top > (window.innerHeight || document.documentElement.clientHeight) ||
            rect.left > (window.innerWidth || document.documentElement.clientWidth)
        ) return false;

        return (el.contains(efp(rect.left,  rect.top))
      ||  el.contains(efp(rect.right, rect.top))
      ||  el.contains(efp(rect.right, rect.bottom))
      ||  el.contains(efp(rect.left,  rect.bottom)));
    }

    function isVisible(el, callback) {
        return function () {
            var visible = isElementInViewport(el);
            if (visible) {
                if (typeof callback == 'function') {

                    callback();
                }
            }
        }
    }


    function load_page() {
        var get_tweets = new XMLHttpRequest();
        if (!document.querySelector('#footer').getAttribute('pageNum')){

            document.querySelector('#footer').setAttribute('pageNum', 2);
        }
        get_tweets.onload = function() {
            processNewTweets(get_tweets.responseText);
            window.sessionStorage.setItem('ajaxready', "yes");

        };
        get_tweets.open("GET", 'tweets/' + document.querySelector('#footer').getAttribute('pageNum') , false);
        get_tweets.send();


    }


    function createTweetandAppend(tweet) {
        const tweet_container = document.createElement('div');
        tweet_container.className = "tweet-container";

        const inner_contents = document.createElement('div');
        inner_contents.className = "inner-contents";

        const tweet_info = document.createElement('div');
        tweet_info.className = "tweet-info";

        const author = document.createElement('a');
        author.className = "author";
        author.innerHTML = tweet['author'];

        const desc_text = document.createElement('p');
        desc_text.className = "desc-text";
        desc_text.innerHTML = tweet['message'];

        const ul_images = document.createElement('ul');

        if (tweet.images.length > 0) {
        tweet.images.forEach(function(item,index,array) {
            const img_cont = document.createElement('div');
            img_cont.className = "img-cont";
            const li_img = document.createElement('li');
            const img = document.createElement('img');
            img.src = "images/" + item;
            li_img.append(img);
            img_cont.append(li_img);
            ul_images.append(img_cont);
        })
        }

        tweet_info.append(author, desc_text, ul_images);

        const btn_share = document.createElement('button');
        btn_share.className = "btn-share";
        btn_share.name = tweet['link'];
        btn_share.id = tweet['id'];
        btn_share.onclick = 'clip_div(btn_share.id)';

        const copy_img = document.createElement('img');
        copy_img.src = "/share.png";

        btn_share.append(copy_img);

        inner_contents.append(tweet_info,btn_share);
        tweet_container.append(inner_contents);

        root = document.querySelector('.devtweets');
        root.append(tweet_container);
    }
    function processNewTweets(tweets)  {
        new_tweets = JSON.parse(tweets);
        root = document.querySelector('.devtweets');
        new_tweets[0].forEach(function(item,index,array) {
            createTweetandAppend(item);
        })
        document.querySelector('#footer').setAttribute('pageNum', new_tweets[1]);


    }
    tracked_element = document.querySelector('#footer');
    var handler = isVisible(tracked_element, function() {
            if (window.sessionStorage.getItem('ajaxready') === "no") { return; }
            window.sessionStorage.setItem('ajaxready', "no");
            load_page()
    });

if (window.addEventListener) {
    addEventListener('DOMContentLoaded', handler, false);
    addEventListener('scroll', handler, false);
    addEventListener('resize', handler, false);
} else if (window.attachEvent) {

    attachEvent('onScroll', handler);
    attachEvent('onResize', handler);
}
 function clip_div(id){
        var button = document.getElementById(id);
        return copy_text(button.name);
   }
    function copy_text(tweet_url) {
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
        var temp_input = document.createElement('input');
        temp_input.id="__copyText__";
        temp_input.value = baseUrl + "tweet/" + tweet_url;

        document.body.appendChild(temp_input);

        temp_input.select();
        temp_input.setSelectionRange(0, 99999);
        document.execCommand("copy");
        var txt = temp_input.value;

        temp_input.remove();

    }

</script>

{% endblock %}